<%- include("../views/partials/header.ejs") -%>
<div class="l-divider divider-top"></div>

<div class="greeting-pane--blog">
    <h1>Welcome to the Blog!</h1>
    <p>Glad you made it here. You can find some interesting things here about how to work with your dog on-leash. I also
        recommend certain equipment which you can also find among the posts.
    </p>
</div>

<div class="l-divider divider-bottom"></div>

<% document.forEach(function(post) { %>
    <div class="card card--blog-intro">
        <div class="blog-intro-pane">

            <div class="intro-img">
                <img class="intro-img" src=<%=post.data.image.url%>>
            </div>

            <div class="intro-text-box">
                <h2><%=post.data.title[0].text%></h2>
                <p><%=post.first_publication_date.slice(0,10)%></p>
                <p><%=post.data.description[0].text%></p>
                <p><a class="link-underborder"
                        href='./posts/<%=post.data.title[0].text.replace(/ /g, "-");%>'>Read&nbsp;More</a></p>
            </div>

        </div>
    </div>
<% }); %>

<%- include("../views/partials/footer.ejs") -%>